{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    
<div class=container>
  
  <h3>Add a Parcela</h3>
<br>
    {% if submitted %}
  <h3>Your Parcela was submitted successfully</h3>

    {% else %}


  <form action="" method=POST>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" value="Submit" class="btn btn-info" >

  </form>

    {% endif %}
</div>

{% else %}

<h1>You have to be logged in to see this page</h1>
<br/>
<center>
<a class="btn btn-info" href="{% url 'login'  %}">Log in Here</a>
</center>
{% endif %}

{% endblock %}

