{% extends 'base.html' %}



{% block content %}

<div class="container">
  
  <h1>Hello {{ user }} You Happy Camper</h1>

  <p>Here is a database of camping plots to give you more details than you would find by looking at the website of the campsite. I'm starting with the campsite I worked at but I will add other campsite from the Costa Brava. Who knows? If this proves poplular I will open it up further.</p>

  <p>On each plot page there will be a comments section so users can give their opinion on the plot. How easy it was to access the plot with the caravan of whatever size. How close the plot is to electric points, water and the bathrooms. The idea is to be as helpful as possible for campers to find the perfect place to pitch the tent or park the Autocaravan / van or whatever.</p>

  <p>Some people like to have a plot with full shadow and others prefer full sun. Or the most important criteria is having a plot which allows perfect connection to a satelite for the television. The choice of plot will also depend on the time of year. In the cooler months a plot with more sun will perhaps be desirable.</p>

  <p>When you sign up for the site you get the chance to leave comments. It will be good to let other people know whether you are tent people, Campervanners, large autorcaravan users. Maybe you just need a couple of trees spaced right for a hammock.


</div>


{% endblock %}
